@model WowFood.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Đăng Nhập";
}

<div class="row">
    <div class="col-sm-12">
        <div class="mx-auto login-box" style="width:600px">
            <h4>Đăng Nhập</h4>
            <form action="/account/login" method="post" class="needs-validation" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="form-group mr-3">
                    <label for="email" class="mr-1">Email:</label>
                    <input type="email" class="form-control" id="email" name="Email" required="required" autofocus="autofocus" value="@Model.Email">
                    <div class="text-danger">
                        @Html.ValidationMessageFor(temp => temp.Email)
                        @Html.ValidationMessage("CheckEmail")
                    </div>
                </div>

                <div class="form-group mr-3">
                    <label for="pwd" class="mr-1">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="Password" required="required" value="@Model.Password" minlength="6">
                    <div class="text-danger">
                        @Html.ValidationMessageFor(temp => temp.Password)
                    </div>
                </div>

                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</div>

